<% if logged_in? %>
  <%= render 'places/places', places: @places %>
<% else %>
<div class="card">
  <%= image_tag image_url('aketi.png'), class: 'card-img'%>
    <div class="text-center text-white card-img-overlay"> 
      <h1>Welcome to the Stock-Locations</h1>
      <p>写真家のための撮影地共有サービス</p>
      <%= link_to '新規登録する', signup_path, class: 'btn btn-lg btn-light' %>
    </div>
</div>
<% end %>

